/*!
 * Start Bootstrap - Agency v5.0.5 (https://startbootstrap.com/template-overviews/agency)
 * Copyright 2013-2019 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-agency/blob/master/LICENSE)
 */


body {
  overflow-x: hidden;
  font-family: 'Roboto Slab', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

img {
  max-width: 100%;
}

figure img{
  max-width: 100%;
  height: auto;
}

.media-left, .media > .pull-left {
  padding-right: 10px;
}

.fh5co-pricing h4 {
  margin: 0 0 30px 0;
}

.ar {
  text-align: right;
}

.al {
  text-align: left;
}

.ac {
  text-align: center;
}

.aj{
  text-align: justify;
}

.text-1{
  font-family: 'Montserrat';
  font-size: 1.5rem;
}

.text-2{
  font-family: 'Montserrat';
  font-size: 1rem;
}

/* bottom line */
.section-heading::after {
  background: #1fc6d8 none repeat scroll 0 0;
  bottom: 0;
  content: "";
  height: 2px;
  left: 0;
  right: 0;
  position: absolute;
  width: 54px;
}

.section-heading.blcenter::after {
  background: #1fc6d8 none repeat scroll 0 0;
  bottom: 0;
  content: "";
  height: 2px;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
  width: 54px;
}

p {
  line-height: 1.75;
}

a {
  color: #04c0D1;
}

a:hover {
  color: #04c0D1;
}

.text-primary {
  color: #04c0D1 !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

section {
  padding: 50px 0;
}

section h2.section-heading {
  font-size: 30px;
  margin-top: 0;
  margin-bottom: 15px;
  position: relative;
}

section h3.section-subheading {
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 75px;
  text-transform: none;
  font-family: 'Droid Serif', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

.btn {
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  font-weight: 700;
}

.btn-xl {
  font-size: 18px;
  padding: 20px 40px;
}

.btn-primary {
  background-color: #04c0D1;
  border-color: #04c0D1;
}

.btn-primary:active, .btn-primary:focus, .btn-primary:hover {
  background-color: #04c0D1 !important;
  border-color: #04c0D1 !important;
  color: white;
}

.btn-primary:active, .btn-primary:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(17, 214, 236, 0.5) !important;
  box-shadow: 0 0 0 0.2rem rgba(34, 208, 243, 0.5) !important;
}

::selection {
  background: #04c0D1;
  text-shadow: none;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}

.divider{
    border: 0;
    height: 3px;
    margin: 12px auto;
    background-image: -webkit-linear-gradient(left, transparent, #04c0D1, transparent);
    background-image: linear-gradient(to right, transparent, #04c0D1, transparent);
    text-align: center;
    position: relative;
    clear: both;
}


/* -------------------------------------NABVAR --------------------------------------*/
#mainNav {
  background-color: #212529;
}

#mainNav .navbar-toggler {
  font-size: 12px;
  right: 0;
  padding: 13px;
  text-transform: uppercase;
  color: white;
  border: 0;
  background-color: #04c0D1;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

#mainNav .navbar-brand {
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  font-size: 1em;
}

#mainNav .navbar-brand img {
  height: 50px;
}

#mainNav .navbar-brand.active, #mainNav .navbar-brand:active, #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
  color: #04c0D1;
}

#mainNav .navbar-nav .nav-item .nav-link {
  font-size:90%;
  color: white;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

#mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover {
  color: #04c0D1;
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  section {
    padding: 50px 0;
  }

  #mainNav .navbar-nav .nav-item .nav-link {
    padding: 0.25em 0;
    color: white;
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    font-size : 1rem;
  }

  #mainNav .navbar-brand {
    font-size: 1.25em;
  }

  #mainNav .navbar-brand img {
    height: 50px;
  }

  section {
    padding: 50px 0;
  }

}

/* DEKSTOP */
 /* Large devices (desktops, 992px and up) */
 @media (min-width: 992px) {
  #mainNav {
    padding-top: 25px;
    padding-bottom: 25px;
    -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
    transition: padding-top 0.3s, padding-bottom 0.3s;
    border: none;
    background-color: 212529;
  }
  #mainNav .navbar-brand {
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    font-size: 1.25em;
   
  }
  #mainNav .navbar-nav .nav-item .nav-link {
    padding: 1.1em 0.5em !important;
    font-size: 0.85em;
  }
  #mainNav.navbar-shrink {
    padding-top: 0;
    padding-bottom: 0;
    background-color: #212529;
  }

  #mainNav .navbar-brand img {
    height: 50px;
  }

  section {
    padding: 50px 0;
  }

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  #mainNav {
    padding-top: 25px;
    padding-bottom: 25px;
    -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
    transition: padding-top 0.3s, padding-bottom 0.3s;
    border: none;
    /*background-color: transparent;*/
  }
  #mainNav .navbar-brand {
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    font-size: 1.25em;
  }
  #mainNav .navbar-nav .nav-item .nav-link {
    padding: 1.1em 1em !important;
  }
  #mainNav.navbar-shrink {
    padding-top: 0;
    padding-bottom: 0;
    background-color: #212529;
  }
  #mainNav.navbar-shrink .navbar-brand {
    font-size: 1em;
    padding: 8px 0;
  }

  #mainNav .navbar-brand img {
    height: 50px;
  }

  section {
    padding: 50px 0;
  }
  
}
/*================================== END NAVBAR ============================== */


/* ===========================  SLIDER  ========================= */

.carousel-inner img {
  width: 100%;
  height: 60vh;
}

.carousel-caption{
  top :50%;
  transform: translateY(-50%);
  bottom:initial !important;
} 

.carousel-caption h2{
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

.carousel-caption-header h3{
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}
.carousel-caption-text{
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}


.carousel-caption span{
  color:#04c0D1; 
}


@media (min-width: 768px){
  .carousel-caption h2{
    font-size: 80px;
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  }

  .carousel-caption-header h3{
    font-size: 80px;
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  }

  .text-1{
    font-family: 'Montserrat';
    font-size: 2.5rem;
  }
  .text-2{
    font-family: 'Montserrat';
    font-size: 1rem;
  }

  .carousel-caption{
    top :50%;
    transform: translateY(-50%);
    bottom:initial !important;
  } 
  .carousel-inner img {
    width: 100%;
    height: 100vh;
  }

 
 }

 /* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .carousel-caption h2{
    font-size: 70px;
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  }
  .text-1{
    font-family: 'Montserrat';
    font-size: 3.5rem;
  }
  .text-2{
    font-family: 'Montserrat';
    font-size: 1rem;
  }

  .carousel-caption{
    top :50%;
    transform: translateY(-50%);
    bottom:initial !important;
  } 

  .carousel-inner img {
    width: 100%;
    height: 100vh;
  }

  section {
    padding: 50px 0;
  }

}
 /* End Large devices (desktops, 992px and up) */

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .carousel-caption h2{
    font-size: 60px;
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  }
  .text-1{
    font-family: 'Montserrat';
    font-size: 4.5rem;
  }
  .text-2{
    font-family: 'Montserrat';
    font-size: 1.5rem;
  }
  .carousel-inner img {
    width: 100%;
    height: 100vh;
  }
  section {
    padding: 50px 0;
  }

 }

/* Eend Extra large devices (large desktops, 1200px and up) */

.gbr-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: #080d15;
    opacity: 0.3;
}
/* ===========================  END SLIDER  ========================= */

/* ============================= ABOUT ================================ */
#about{
    padding-bottom: 100px;
    padding-top: 100px;
}

#about .col-md-6{
  padding: 20px 10px;
}

#about h2 span{
  color: #04c0D1;
}


/*============================== END ABOUT ============================ */



/*==========================   SERVICES =================================*/

.p__30 {
  padding: 30px;
}
.pt__40 {
  padding-top: 40px;
}
.pb__20 {
  padding-bottom: 20px;
}
.list__none {
  list-style: none;
}

#services{
  padding-top: 100px;
  padding-bottom: 100px;
  background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(assets/img/serv.jpeg);
  background-position: center;
  background-size: contain;
  background-attachment: fixed;
  color: #fff;


}
.package {
  background: #fff;
  border-radius: 5px;
  box-shadow: #04c0D1 0px 5px 0px;
}

.package__services li {
  font-size: 16px;
  color: #888;
  padding-bottom: 15px;
}

.package__services li i {
  font-size: 14px;
  background: #f9bf3b;
  color: #fff;
  font-size: 16px;
  line-height: 21px;
  border-radius: 100%;
  text-align: center;
  padding: 0px 7px;
  margin-right: 10px;
}

.package__services ul li:hover i {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}

.package__name {
  background: #f9bf3b;
  color: #fff;
  border-top-left-radius: 5px; 
  border-top-right-radius: 5px;
}

  

/*==========================  END  SERVICES =================================*/

.service-heading {
  margin: 15px 0;
  text-transform: none;
}

#portfolio .portfolio-item {
  right: 0;
  margin: 0 0 15px;
  border-radius: 25px;
}

#portfolio .portfolio-item .portfolio-link {
  position: relative;
  display: block;
  max-width: 400px;
  margin: 0 auto;
  cursor: pointer;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
  opacity: 0;
  background: #36d9fee6;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover:hover {
  opacity: 1;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
  font-size: 20px;
  position: absolute;
  top: 50%;
  width: 100%;
  height: 20px;
  margin-top: -12px;
  text-align: center;
  color: white;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i {
  margin-top: -12px;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h3,
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h4 {
  margin: 0;
}

#portfolio .portfolio-item .portfolio-caption {
  max-width: 400px;
  margin: 0 auto;
  padding: 25px;
  text-align: center;
  background-color: #fff;
}

#portfolio .portfolio-item .portfolio-caption h4 {
  margin: 0;
  text-transform: none;
}

#portfolio .portfolio-item .portfolio-caption p {
  font-size: 16px;
  font-style: italic;
  margin: 0;
  font-family: 'Droid Serif', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

#portfolio * {
  z-index: 2;
}

@media (min-width: 767px) {
  #portfolio .portfolio-item {
    margin: 0 0 30px;
  }
}

.portfolio-modal {
  padding-right: 0px !important;
}

.portfolio-modal .modal-dialog {
  margin: 1rem;
  max-width: 100vw;
}

.portfolio-modal .modal-content {
  padding: 100px 0;
  text-align: center;
}

.portfolio-modal .modal-content h2 {
  font-size: 3em;
  margin-bottom: 15px;
}

.portfolio-modal .modal-content p {
  margin-bottom: 30px;
}

.portfolio-modal .modal-content p.item-intro {
  font-size: 16px;
  font-style: italic;
  margin: 20px 0 30px;
  font-family: 'Droid Serif', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

.portfolio-modal .modal-content ul.list-inline {
  margin-top: 0;
  margin-bottom: 30px;
}

.portfolio-modal .modal-content img {
  margin-bottom: 30px;
}

.portfolio-modal .modal-content button {
  cursor: pointer;
}

.portfolio-modal .close-modal {
  position: absolute;
  top: 25px;
  right: 25px;
  width: 75px;
  height: 75px;
  cursor: pointer;
  background-color: transparent;
}

.portfolio-modal .close-modal:hover {
  opacity: 0.3;
}

.portfolio-modal .close-modal .lr {
  /* Safari and Chrome */
  z-index: 1051;
  width: 1px;
  height: 75px;
  margin-left: 35px;
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  background-color: #212529;
}

.portfolio-modal .close-modal .lr .rl {
  /* Safari and Chrome */
  z-index: 1052;
  width: 1px;
  height: 75px;
  /* IE 9 */
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  background-color: #212529;
}


.team-member {
  margin-bottom: 50px;
  text-align: center;
}

.team-member img {
  width: 225px;
  height: 225px;
  border: 7px solid #fff;
}

.team-member h4 {
  margin-top: 25px;
  margin-bottom: 0;
  text-transform: none;
}

.team-member p {
  margin-top: 0;
}

section#contact {
  background-color: #212529;
  background-image: url("../img/map-image.png");
  background-repeat: no-repeat;
  background-position: center;
}

section#contact .section-heading {
  color: #fff;
}

section#contact .form-group {
  margin-bottom: 25px;
}

section#contact .form-group input,
section#contact .form-group textarea {
  padding: 10px;
}

section#contact .form-group input.form-control {
  height: auto;
}

section#contact .form-group textarea.form-control {
  height: 200px;
}

section#contact .form-control:focus {
  border-color: #04c0D1;
  -webkit-box-shadow: none;
  box-shadow: none;
}

section#contact ::-webkit-input-placeholder {
  font-weight: 700;
  color: #ced4da;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

section#contact :-moz-placeholder {
  font-weight: 700;
  color: #ced4da;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

section#contact ::-moz-placeholder {
  font-weight: 700;
  color: #ced4da;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

section#contact :-ms-input-placeholder {
  font-weight: 700;
  color: #ced4da;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

footer {
  padding: 25px 0;
  text-align: center;
}

footer span.copyright {
  font-size: 90%;
  line-height: 40px;
  text-transform: none;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

footer ul.quicklinks {
  font-size: 90%;
  line-height: 40px;
  margin-bottom: 0;
  text-transform: none;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

ul.social-buttons {
  margin-bottom: 0;
}

ul.social-buttons li a {
  font-size: 20px;
  line-height: 50px;
  display: block;
  width: 50px;
  height: 50px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  color: white;
  border-radius: 100%;
  outline: none;
  background-color: #212529;
}

ul.social-buttons li a:active, ul.social-buttons li a:focus, ul.social-buttons li a:hover {
  background-color: #04c0D1;
}

.footer-copyright{
  background-color: #212529;
  color : #04c0D1;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}


/*------------PROJECT MANAGEMENT ---->*/

.main-timeline{
  font-family: 'Source Sans Pro', sans-serif;
  position: relative;
  padding: 20px 0;
}
.main-timeline .timeline{
  width: 80%;
  margin: 0 auto 70px;
  position: relative;
}
.main-timeline .timeline:after{
  content: '';
  background: linear-gradient(-65deg,#F28D00 40%,#fff 41%,#fff 60%, #F28D00 61%);
  height: 173px;
  width: 173px;
  border-radius: 50%;
  transform: translateY(-50%);
  position: absolute;
  left: 88px;
  top: 50%;
  z-index: 0;
}
.main-timeline .timeline-content{
  color: #fff;
  background-color: #F28D00;
  padding: 15px 15px 15px 280px;
  border-radius: 40px;
  display: block;
}
.main-timeline .timeline-content:hover{
  color: #fff;
  text-decoration: none;
}
.main-timeline .timeline-icon{
  color: #000;
  background-color: #FDCD00;
  font-size: 60px;
  text-align: center;
  line-height: 130px;
  height: 150px;
  width: 150px;
  border: 10px solid #fff;
  border-radius: 50%;
  transform: translateY(-50%);
  position: absolute;
  left: 100px;
  top: 50%;
  z-index: 1;
}
.main-timeline .title{
  font-size: 25px;
  font-weight: 600;
  margin: 0 0 5px 0;
}
.main-timeline .description{
  font-size: 15px;
  letter-spacing: 1px;
  margin: 0;
}
.main-timeline .timeline:nth-child(even):after{
  left: auto;
  right: 88px;
}
.main-timeline .timeline:nth-child(even) .timeline-icon{
  left: auto;
  right: 100px;
}
.main-timeline .timeline:nth-child(even) .timeline-content{ padding: 15px 280px 15px 30px; }
/* .main-timeline .timeline:nth-child(3n+2):after{
  background: linear-gradient(-65deg,#0D70B4 40%,#fff 41%,#fff 60%, #0D70B4 61%);
}
.main-timeline .timeline:nth-child(3n+2) .timeline-content{ background-color: #0D70B4; }
.main-timeline .timeline:nth-child(3n+2) .timeline-icon{ background-color: #2EA6E4; }
.main-timeline .timeline:nth-child(3n+3):after{
  background: linear-gradient(-65deg,#A2175B 40%,#fff 41%,#fff 60%, #A2175B 61%);
}
.main-timeline .timeline:nth-child(3n+3) .timeline-content{ background-color: #A2175B; }
.main-timeline .timeline:nth-child(3n+3) .timeline-icon{ background-color: #E71873; } */
@media only screen and (max-width:1200px){
  .main-timeline .timeline{ width: 100%; }
}
@media only screen and (max-width:767px){
  .main-timeline .timeline{
      padding-top: 109px;
      margin: 0 0 30px;
  }
  .main-timeline .timeline:after,
  .main-timeline .timeline:nth-child(even):after{
      height: 110px;
      width: 110px;
      left: 50%;
      top: 0;
      transform: translateX(-50%) translateY(0);
  }
  .main-timeline .timeline-content,
  .main-timeline .timeline:nth-child(even) .timeline-content{
      text-align: center;
      padding: 15px;
  }
  .main-timeline .timeline-icon,
  .main-timeline .timeline:nth-child(even) .timeline-icon{
      font-size: 35px;
      height: 90px;
      width: 90px;
      line-height: 70px;
      right: auto;
      left: 50%;
      top: 10px;
      transform: translateX(-50%) translateY(0);
  }
  .main-timeline .title{ font-size: 20px; }
}
/*----------------------------------*/


/*---------------------------------  TEAM -------------------------*/

#team{
  padding-bottom: 100px;
  padding-top: 100px;
}


#team h2 span{
  color: #04c0D1;
}

.our-team{
  text-align: center;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  transition: all 0.3s ease 0s;
}
.our-team .pic{
  background: #04c0D1;
  transition: all 0.3s ease 0s;
}
.our-team:hover .pic{
  padding: 10px;
  border-radius: 10px;
  transform: scale(0.5) translateY(-30%);
}
.our-team .pic img{
  width: 100%;
  height: auto;
}

.our-management .pic img{
  width: 100%;
  height: auto;
}
.our-team .team-content{
  width: 100%;
  padding: 7px 15px;
  background: #04c0D1;
  position: absolute;
  bottom: -30%;
  right: 0;
  opacity: 0;
  transition: all 0.3s ease 0s;
}
.our-team:hover .team-content{
  opacity: 1;
  bottom: -10px;
}
.our-team .title{
  font-size: 18px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0 0 5px 0;
}
.our-team .post{
  display: block;
  font-size: 15px;
  font-weight: 600;
  color: #fff;
  font-style: italic;
  text-transform: capitalize;
  margin: 0 0 5px 0;
}
.our-team .social{
  padding: 0;
  margin: 0;
  list-style: none;
  transition: all 0.35s ease 0s;
}
.our-team .social li{
  display: inline-block;
  margin: 0 5px 0 0;
}
.our-team .social li a{
  display: block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 15px 0 15px 0;
  font-size: 20px;
  color: #fff;
  overflow: hidden;
  z-index: 1;
  position: relative;
  transition: all 0.35s ease 0s;
}
.our-team .social li a:before{
  content: "";
  width: 100%;
  height: 100%;
  background: #e06f06;
  position: absolute;
  top: 0;
  left: -100%;
  z-index: -1;
  transition: all 0.3s ease-in-out 0s;
}
.our-team .social li a:hover:before{ left: 0; }
@media only screen and (max-width: 990px){
  .our-team{ margin-bottom: 30px; }
}


/*---------------------------------  END TEAM -------------------------*/



footer{
  background-color: #33363a;
  color : #ced4da;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

footer i{
  color : #04c0D1;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

footer h6{
  position: relative;
}

.totop{ 
 cursor: pointer;
 font-size: 30px;
}

.totop:hover{
 color:#04c0D1;
}

footer h6::after{
  border-bottom: #1fc6d8 solid 2px;
  content: "";
  left: 0;
  right: 0;
  padding-bottom: 25px;
  margin:auto;
  position: absolute;
  width: 54px;
}

@media (min-width: 576px){ 
  footer h6::after{border-bottom: #04c0D1 solid 2px;
  content: "";
  right: 200px;
  position: absolute;
  width: 54px;
  }
} 

@media (min-width: 768px) 
 { footer h6::after{border-bottom: #04c0D1 solid 2px;
  content: "";
  right: 200px;
  position: absolute;
  width: 54px;
  } 
}

@media (min-width: 992px) { 
  footer h6::after{border-bottom: #04c0D1 solid 2px;
  content: "";
  right: 200px;
  position: absolute;
  width: 54px;
  }
}

@media (min-width: 1200px) { 
  footer h6::after{border-bottom: #04c0D1 solid 2px;
  content: "";
  right: 200px;
  position: absolute;
  width: 54px;
  } 
}

li.nav-item a:hover {
  background: #008ba3;
  color: #ffffff !important;
}




