/*!
 * Start Bootstrap - Agency v5.0.5 (https://startbootstrap.com/template-overviews/agency)
 * Copyright 2013-2019 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-agency/blob/master/LICENSE)
 */

.image__content ul li i,
.load-more,
.blog__post a,
.send__message .wpcf7-submit,
.subscribe__btn,
.contact__info i,
.feaures__block i::after,
.footer__widget ul li a {
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

.img-skewed-left {
  -webkit-perspective-origin: left center;
  perspective-origin: left center;
}
.img-skewed {
  -webkit-perspective: 1500px;
  perspective: 1500px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.br__50 {
  border-radius: 50px !important;
}

.alignleft {
  float: left;
  margin-right: 15px;
}
.alignright {
  float: right;
  margin-left: 15px;
}
.aligncenter {
  display: block;
  margin: 0 auto 15px;
}
.float__left {
  float: left;
}
.float__right {
  float: right;
}
.bg__dark {
  background: #fec810 ;
}
.bg__gray {
  background: #f5f5f5;
}

.list__none {
  list-style: none;
}
.pos__absolute {
  position: absolute;
}
.pos__relative {
  position: relative;
}
.p__0 {
  padding: 0;
}
.p__20 {
  padding: 20px;
}
.p__30 {
  padding: 30px;
}
.p__50 {
  padding: 50px;
}
.pb__10 {
  padding-bottom: 10px;
}
.pb__20 {
  padding-bottom: 20px;
}
.pb__30 {
  padding-bottom: 30px;
}
.pb__50 {
  padding-bottom: 50px;
}
.pb__70 {
  padding-bottom: 70px;
}
.pb__80 {
  padding-bottom: 80px;
}
.pb__90 {
  padding-bottom: 90px;
}
.pb__100 {
  padding-bottom: 100px;
}
.pb__120 {
  padding-bottom: 120px;
}
.pb__150 {
  padding-bottom: 150px;
}
.pt__40 {
  padding-top: 40px;
}
.pt__90 {
  padding-top: 90px;
}
.pt__100 {
  padding-top: 100px;
}
.pt__130 {
  padding-top: 130px;
}
.pt__330 {
  padding-top: 330px;
}
.pl__0 {
  padding-left: 0;
}
.pl__10 {
  padding-left: 10px;
}
.pl__30 {
  padding-left: 30px;
}
.pbt__70 {
  padding-top: 70px;
  padding-bottom: 70px;
}
.pbt__30 {
  padding-top: 30px;
  padding-bottom: 30px;
}
.prl__30 {
  padding-right: 30px;
  padding-left: 30px;
}
.prl__50 {
  padding-right: 50px;
  padding-left: 50px;
}
.mb__20 {
  margin-bottom: 20px;
}
.mb__30 {
  margin-bottom: 30px;
}
.mt__30 {
  margin-top: 30px;
}
.mt__40 {
  margin-top: 40px;
}
.mt__50 {
  margin-top: 50px;
}
.ml__30 {
  margin-left: 30px;
}

.ml__100 {
  margin-left: 100px;
}
.text__center {
  text-align: center;
}

.text__color__heading {
  color: #fec810 ;
}

.side__img {
  position: absolute;
  left: -100%;
  margin-top: 53px;
}

img {
  max-width: 100%;
}

body {
  overflow-x: hidden;
  font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

p {
  line-height: 1.75;
}

a {
  color: #fec810 ;
}

a:hover {
  color: #fec810 ;
}

.text-primary {
  color: white !important;
}

.text-heading {
  color: #fec810 !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.fh5co-pricing h4 {
  margin: 0 0 30px 0;
}

section {
  padding: 30px 0;
}

section h2.section-heading {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 15px;
}

section h3.section-subheading {
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 75px;
  text-transform: none;
  font-family: "Droid Serif", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.divider {
  border: 0;
  height: 3px;
  margin: 34px auto;
  background-image: -webkit-linear-gradient(
    left,
    transparent,
    #fed136,
    transparent
  );
  background-image: linear-gradient(
    to right,
    transparent,
    #fed136,
    transparent
  );
  text-align: center;
  position: relative;
  clear: both;
}

.col-container {
  color: white;
}

.col-container .icon {
  margin-top: 10px;
}

#mainNav {
  background-color: #212529;
}

.navbar-brand .img-responsive {
  height: 50px;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}

#mainNav {
  padding-top: 5px;
  padding-bottom: 5px;
  -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
  transition: padding-top 0.3s, padding-bottom 0.3s;
  border: none;
  background-color: #212529;
  text-transform: uppercase;
}
#mainNav .navbar-brand {
  font-size: 1.75em;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#mainNav .navbar-nav .nav-item .nav-link {
  padding: 1.1em 1em !important;
  font-size: 90%;
  font-weight: 400;
  padding: 0.75em 0;
  letter-spacing: 1px;
  color: white;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
#mainNav.navbar-shrink {
  padding-top: 0;
  padding-bottom: 0;
  background-color: #212529;
}
#mainNav.navbar-shrink .navbar-brand {
  font-size: 1.25em;
  padding: 12px 0;
}


/* info panel */
.media .icon {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: #fff;
  margin: 0 auto;
  margin-top: -60px;
  text-align: center;
  color: #1eaaf1;
  font-size: 50px;
  position: static;
  border: 1px solid #007bff;
}

.media-body {
  padding-bottom: 3.5em !important;
}

/* =======
   BANNER
   ======= */
.banner {
  background-color: #007bff;
  color: #fff;
  margin-bottom: 30px;
  overflow: hidden;
  padding: 20px 15px 10px 15px;
  position: relative;
  text-align: right;
}

.banner p {
  font-style: italic;
}

#portfolio .portfolio-item {
  right: 0;
  margin: 0 0 15px;
}

#portfolio .portfolio-item .portfolio-link {
  position: relative;
  display: block;
  max-width: 400px;
  margin: 0 auto;
  cursor: pointer;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
  opacity: 0;
  background: rgba(96, 127, 151, 0.5);
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover:hover {
  opacity: -50;
}

#portfolio
  .portfolio-item
  .portfolio-link
  .portfolio-hover
  .portfolio-hover-content {
  font-size: 20px;
  position: absolute;
  top: 50%;
  width: 100%;
  height: 20px;
  margin-top: -12px;
  text-align: center;
  color: white;
}

#portfolio
  .portfolio-item
  .portfolio-link
  .portfolio-hover
  .portfolio-hover-content
  i {
  margin-top: -12px;
}

#portfolio
  .portfolio-item
  .portfolio-link
  .portfolio-hover
  .portfolio-hover-content
  h3,
#portfolio
  .portfolio-item
  .portfolio-link
  .portfolio-hover
  .portfolio-hover-content
  h4 {
  margin: 0;
}

#portfolio .portfolio-item .portfolio-caption {
  margin: 0 auto;
  padding: 5px;
  background-color: #fff;
}

#portfolio .portfolio-item .portfolio-caption h4 {
  margin: 0;
  text-transform: none;
}

#portfolio .portfolio-item .portfolio-caption p {
  font-size: 16px;
  font-style: italic;
  text-transform: none;
  margin: auto;
  font-family: "Droid Serif", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

#portfolio * {
  z-index: 2;
}

.author i {
  color: #fec810 ;
}

.view_more {
  font-size: 17px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  color: #008cff;
  border-radius: 2em;
  outline: none;
  background-color: White;
  border: 1px solid#008cff;
  margin-bottom: 100px;
}



/*------------PROJECT MANAGEMENT ---->*/

.main-timeline{
  font-family: 'Source Sans Pro', sans-serif;
  position: relative;
  padding: 20px 0;
}
.main-timeline .timeline{
  width: 80%;
  margin: 0 auto 70px;
  position: relative;
}
.main-timeline .timeline:after{
  content: '';
  background: linear-gradient(-65deg,#F28D00 40%,#fff 41%,#fff 60%, #F28D00 61%);
  height: 173px;
  width: 173px;
  border-radius: 50%;
  transform: translateY(-50%);
  position: absolute;
  left: 88px;
  top: 50%;
  z-index: 0;
}
.main-timeline .timeline-content{
  color: #fff;
  background-color: #F28D00;
  padding: 15px 15px 15px 280px;
  border-radius: 40px;
  display: block;
}
.main-timeline .timeline-content:hover{
  color: #fff;
  text-decoration: none;
}
.main-timeline .timeline-icon{
  color: #000;
  background-color: #FDCD00;
  font-size: 60px;
  text-align: center;
  line-height: 130px;
  height: 150px;
  width: 150px;
  border: 10px solid #fff;
  border-radius: 50%;
  transform: translateY(-50%);
  position: absolute;
  left: 100px;
  top: 50%;
  z-index: 1;
}
.main-timeline .title{
  font-size: 25px;
  font-weight: 600;
  margin: 0 0 5px 0;
}
.main-timeline .description{
  font-size: 15px;
  letter-spacing: 1px;
  margin: 0;
}
.main-timeline .timeline:nth-child(even):after{
  left: auto;
  right: 88px;
}
.main-timeline .timeline:nth-child(even) .timeline-icon{
  left: auto;
  right: 100px;
}
.main-timeline .timeline:nth-child(even) .timeline-content{ padding: 15px 280px 15px 30px; }
/* .main-timeline .timeline:nth-child(3n+2):after{
  background: linear-gradient(-65deg,#0D70B4 40%,#fff 41%,#fff 60%, #0D70B4 61%);
}
.main-timeline .timeline:nth-child(3n+2) .timeline-content{ background-color: #0D70B4; }
.main-timeline .timeline:nth-child(3n+2) .timeline-icon{ background-color: #2EA6E4; }
.main-timeline .timeline:nth-child(3n+3):after{
  background: linear-gradient(-65deg,#A2175B 40%,#fff 41%,#fff 60%, #A2175B 61%);
}
.main-timeline .timeline:nth-child(3n+3) .timeline-content{ background-color: #A2175B; }
.main-timeline .timeline:nth-child(3n+3) .timeline-icon{ background-color: #E71873; } */
@media only screen and (max-width:1200px){
  .main-timeline .timeline{ width: 100%; }
}
@media only screen and (max-width:767px){
  .main-timeline .timeline{
      padding-top: 109px;
      margin: 0 0 30px;
  }
  .main-timeline .timeline:after,
  .main-timeline .timeline:nth-child(even):after{
      height: 110px;
      width: 110px;
      left: 50%;
      top: 0;
      transform: translateX(-50%) translateY(0);
  }
  .main-timeline .timeline-content,
  .main-timeline .timeline:nth-child(even) .timeline-content{
      text-align: center;
      padding: 15px;
  }
  .main-timeline .timeline-icon,
  .main-timeline .timeline:nth-child(even) .timeline-icon{
      font-size: 35px;
      height: 90px;
      width: 90px;
      line-height: 70px;
      right: auto;
      left: 50%;
      top: 10px;
      transform: translateX(-50%) translateY(0);
  }
  .main-timeline .title{ font-size: 20px; }
}
/*----------------------------------*/


/* ============
   Why
  ============= */

.image__content ul li {
  padding-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.image__content ul li i {
  background: #fec810 ;
  color: #fff;
  font-size: 13px;
  line-height: 21px;
  border-radius: 100%;
  padding: 0px 8px;
}

.image__content ul li span {
  font-size: 15px;
  padding-left: 20px;
}

.image__content ul li:hover i {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}

/* ==============
 ourvalue 
 ========== */

.pricing {
  background: #fff;
  border-radius: 5px;
  box-shadow: rgba(255, 255, 255, 0.6) 0px 5px 0px;
  border: 1px solid #fec810 ;
}
.package__name {
  background: #fec810 ;
  color: #fff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.package__name h2 {
  font-weight: 400;
}
.package__price {
  border-bottom: 1px solid #ddd;
}
span.currency {
  font-size: 20px;
  position: absolute;
  top: 0;
  left: 0;
}
span.price {
  font-size: 60px;
}
span.duration {
  color: #888;
}
.package__feature li {
  font-size: 16px;
  color: #888;
  padding-bottom: 15px;
}
.package__feature li i {
  font-size: 14px;
  padding-right: 20px;
}
.pricing.focused {
  box-shadow: rgb(120, 192, 252) 0 5px 0px;
}
.btn.pricing__btn {
  margin: 0px 0 45px 40px;
  border: 1px solid #ddd;
  height: 40px;
  width: 150px;
  line-height: 38px;
  font-size: 16px;
}
.btn.pricing__btn:hover {
  border-color: #fec810 ;
  color: #fff;
  box-shadow: inset #fec810  0px -60px 0px;
}

.v2_title p {
  font-size: 16px;
  /*max-width: 570px;*/
  margin: 0 auto;
  line-height: 26px;
  font-weight: 400;
}

@media (min-width: 768px) {
  .col-sm-1,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9 {
    float: left;
  }
}

@media (min-width: 992px) {
  .col-md-1,
  .col-md-10,
  .col-md-11,
  .col-md-12,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9 {
    float: left;
  }
}

/* =======
 FOOTER
 ======= */

 footer {
  padding: 25px 0;
  text-align: center;
}

footer span.copyright {
  font-size: 90%;
  line-height: 40px;
  text-transform: none;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

footer ul.quicklinks {
  font-size: 90%;
  line-height: 40px;
  margin-bottom: 0;
  text-transform: none;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

ul.social-buttons {
  margin-bottom: 0;
}

ul.social-buttons li a {
  font-size: 20px;
  line-height: 50px;
  display: block;
  width: 50px;
  height: 50px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  color: white;
  border-radius: 100%;
  outline: none;
  background-color: #212529;
}

ul.social-buttons li a:active, ul.social-buttons li a:focus, ul.social-buttons li a:hover {
  background-color: #fed136;
}

.footer-copyright{
  background-color: #212529;
  color : #fed136;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}
/* footer {
  background-color: #33363a;
  color: white;
}

footer a {
  color: white;
}

footer a:hover {
  color: white;
  text-decoration: none;
}

.footerbottom {
  text-align: center;
  padding: 10px 0;
  background-color: #33363a;
}

.footer-top {
  padding: 50px 0;
}

.list-inline-item {
  text-align: center;
}

.footer-top ul {
  list-style: none;
  padding: 0;
}

.footer-top ul li {
  padding: 8px 0;
}

footer span.copyright {
  font-size: 90%;
  line-height: 40px;
  text-transform: none;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

footer ul.quicklinks {
  font-size: 90%;
  line-height: 40px;
  margin-bottom: 0;
  text-transform: none;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

ul.social-buttons {
  margin-bottom: 0;
}

ul.social-buttons li a:active,
ul.social-buttons li a:focus,
ul.social-buttons li a:hover {
  color: white;
  background-color: #00a2ff;
  border: 1px solid white;
}

ul.social-buttons li a {
  font-size: 17px;
  line-height: 35px;
  display: block;
  width: 35px;
  height: 35px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  color: white;
  border-radius: 100%;
  outline: none;
  background-color: transparent;
  border: 1px solid transparent;
} */

#myBtn {
  display: none;
  position: fixed;
  bottom: 80px;
  right: 30px;
  width: 50px;
  height: 50px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 50%;
  border: 1px solid white;
}

#myBtn:hover {
  color: white;
  background-color: #00a2ff;
  border: 1px solid white;
}

/* ====
 why unaizy
 ==== */
.feaures__block {
  padding-left: 0;
  padding-bottom: 30px;
}
.feaures__block:last-child {
  padding-bottom: 0;
}
.feaures__block li {
  list-style: none;
}
.feaures__block i {
  color: #fff;
  font-size: 32px;
  text-align: center;
  position: relative;
  display: inline-block;
  height: 72px;
  width: 72px;
  line-height: 72px;
  border-radius: 50px;
  box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 8px 0px;
}

.feaures__block li p {
  color: #fff;
}

.feaures__block:hover i {
  box-shadow: rgba(255, 255, 255, 1) 0px 0px 8px 0px;
}
.feaures__block i::after {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 50%;
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  opacity: 1;
}
.feaures__block:hover i::after {
  -webkit-transform: scale(1.8);
  transform: scale(1.8);
  opacity: 0;
  border-color: #ddd;
}
.feaures__block h5 {
  color: #fff;
  padding: 25px 0 10px;
}
.feaures__block p {
  color: #aaa;
}

/* blog */
.media-left,
.media > .pull-left {
  padding-right: 10px;
}

.media-heading {
  margin-top: 0;
  margin-bottom: 5px;
}
.media {
  margin-bottom: -35px;
}

.thumb-info-inner {
  position: absolute;
  bottom: 0px;
  width: 80%;
  background: rgba(26, 169, 235, 0.9);
  color: white;
  padding: 20px;
}

/*galery*/

.thumbnail {
  padding: 0 0 15px 0;
  border: none;
  border-radius: 0;
}

/* kontak */
.fadeIn {
  animation-duration: 3s;
}

.btn-send {
  border-radius: 20px;
  border: 1px solid #007bff;
  background: #007bff;
  color: #fff;
}

.btn-send:hover {
  border: 1px solid #00bfff;
  background: #fff;
  color: #00bfff;
  transition: background 0.5s;
}

.second-portion {
  margin-top: 50px;
}

.box > .icon {
  text-align: center;
  position: relative;
}
.box > .icon > .image {
  position: relative;
  z-index: 2;
  margin: auto;
  width: 88px;
  height: 88px;
  border: 8px solid white;
  line-height: 88px;
  border-radius: 50%;
  background: #007bff;
  vertical-align: middle;
}
.box > .icon:hover > .image {
  background: #007bff;
  border: 8px solid #00bfff;
  transition: background 0.5s;
}
.box > .icon > .image > i {
  font-size: 36px !important;
  color: #fff !important;
}
.box > .icon:hover > .image > i {
  color: white !important;
}
.box > .icon > .info {
  margin-top: -24px;
  background: #007bff;
  border: 1px solid #e0e0e0;
  padding: 30px 0 10px 0;
  min-height: 163px;
}
.box > .icon:hover > .info {
  background: rgba(26, 169, 235, 0.9);
  border-color: #e0e0e0;
  color: white;
}
.box > .icon > .info > h3.title {
  font-family: "Robot", sans-serif !important;
  font-size: 16px;
  color: white;
  font-weight: 700;
}
.box > .icon > .info > p {
  font-family: "Robot", sans-serif !important;
  font-size: 13px;
  color: white;
  line-height: 1.5em;
  margin: 20px;
}
.box > .icon:hover > .info > h3.title,
.box > .icon:hover > .info > p,
.box > .icon:hover > .info > .more > a {
  color: white;
}
.box > .icon > .info > .more a {
  font-family: "Robot", sans-serif !important;
  font-size: 12px;
  color: white;
  line-height: 12px;
  text-transform: uppercase;
  text-decoration: none;
}
.box > .icon:hover > .info > .more > a {
  color: #fff;
  padding: 6px 8px;
  background-color: #63b76c;
}
.box .space {
  height: 30px;
}

@media only screen and (max-width: 768px) {
  .contact-form {
    margin-top: 25px;
  }

  .btn-send {
    width: 100%;
    padding: 10px;
  }

  .second-portion {
    margin-top: 25px;
  }
}
/* contact end */

iframe {
  max-width: 100%;
}

/* OUR PARTNER */

.slick-slide {
  margin: 0px 10px;
}

.slick-slide img {
  width: 60%;
}

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
}
.slick-track:before,
.slick-track:after {
  display: table;
  content: "";
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}
[dir="rtl"] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display: none;
}



/* SERVICES */
/*==========================   SERVICES =================================*/

.p__30 {
  padding: 30px;
}
.pt__40 {
  padding-top: 40px;
}
.pb__20 {
  padding-bottom: 20px;
}
.list__none {
  list-style: none;
}

#services{
  padding-top: 100px;
  padding-bottom: 100px;
  background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(assets/img/serv.jpeg);
  background-position: center;
  background-size: contain;
  background-attachment: fixed;
  color: #fff;


}
.package {
  background: #fff;
  border-radius: 5px;
  box-shadow: #f7bd38 0px 5px 0px;
}

.package__services li {
  font-size: 16px;
  color: #888;
  padding-bottom: 15px;
}

.package__services li i {
  font-size: 14px;
  background: #f9bf3b;
  color: #fff;
  font-size: 16px;
  line-height: 21px;
  border-radius: 100%;
  text-align: center;
  padding: 0px 7px;
  margin-right: 10px;
}

.package__services ul li:hover i {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}

.package__name {
  background: #f9bf3b;
  color: #fff;
  border-top-left-radius: 5px; 
  border-top-right-radius: 5px;
}

  

/*==========================  END  SERVICES =================================*/
.section-heading.blcenter::after {
  background: #fdb801 none repeat scroll 0 0;
  bottom: 0;
  content: "";
  height: 2px;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
  width: 54px;
}

section h2.section-heading {
  font-size: 30px;
  margin-top: 0;
  margin-bottom: 15px;
  position: relative;
}

.text-uppercase {
  text-transform: uppercase!important;
}


/* ===========================  SLIDER  ========================= */

.carousel-inner img {
  width: 100%;
  height: 60vh;
}

.carousel-caption{
  top :50%;
  transform: translateY(-50%);
  bottom:initial !important;
} 

.carousel-caption h2{
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

.carousel-caption span{
  color:#fed136; 
}

/* Eend Extra large devices (large desktops, 1200px and up) */

.gbr-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: #080d15;
    opacity: 0.3;
}

@media (min-width: 768px){
  .carousel-caption h2{
    font-size: 80px;
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  }
  .text-1{
    font-family: 'Montserrat';
    font-size: 2.5rem;
  }
  .text-2{
    font-family: 'Montserrat';
    font-size: 1rem;
  }

  .carousel-caption{
    top :50%;
    transform: translateY(-50%);
    bottom:initial !important;
  } 
  .carousel-inner img {
    width: 100%;
    height: 100vh;
  }

 }

 /* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .carousel-caption h2{
    font-size: 90px;
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  }
  .text-1{
    font-family: 'Montserrat';
    font-size: 3.5rem;
  }
  .text-2{
    font-family: 'Montserrat';
    font-size: 1rem;
  }

  .carousel-caption{
    top :50%;
    transform: translateY(-50%);
    bottom:initial !important;
  } 

  .carousel-inner img {
    width: 100%;
    height: 100vh;
  }

  section {
    padding: 50px 0;
  }

}
 /* End Large devices (desktops, 992px and up) */

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .carousel-caption h2{
    font-size: 100px;
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  }
  .text-1{
    font-family: 'Montserrat';
    font-size: 4.5rem;
  }
  .text-2{
    font-family: 'Montserrat';
    font-size: 1.5rem;
  }
  .carousel-inner img {
    width: 100%;
    height: 100vh;
  }
  section {
    padding: 50px 0;
  }

 }
/* ===========================  END SLIDER  ========================= */


/* ===========TEAM===========*/
.team-member {
  margin-bottom: 50px;
  text-align: center;
}

.team-member img {
  width: 225px;
  height: 225px;
  border: 7px solid #fff;
}

.team-member h4 {
  margin-top: 25px;
  margin-bottom: 0;
  text-transform: none;
}

.team-member p {
  margin-top: 0;
}

/* ===========END TEAM===========*/


*---------------------------------  TEAM -------------------------*/

#team{
  padding-bottom: 100px;
  padding-top: 100px;
}


#team h2 span{
  color: #f7bd38;
}

.our-team{
  text-align: center;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  transition: all 0.3s ease 0s;
}
.our-team .pic{
  background: #f6931e;
  transition: all 0.3s ease 0s;
}
.our-team:hover .pic{
  padding: 10px;
  border-radius: 10px;
  transform: scale(0.5) translateY(-30%);
}
.our-team .pic img{
  width: 100%;
  height: auto;
}

.our-management .pic img{
  width: 100%;
  height: auto;
}
.our-team .team-content{
  width: 100%;
  padding: 7px 15px;
  background: #f6931e;
  position: absolute;
  bottom: -30%;
  right: 0;
  opacity: 0;
  transition: all 0.3s ease 0s;
}
.our-team:hover .team-content{
  opacity: 1;
  bottom: -10px;
}
.our-team .title{
  font-size: 18px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0 0 5px 0;
}
.our-team .post{
  display: block;
  font-size: 15px;
  font-weight: 600;
  color: #fff;
  font-style: italic;
  text-transform: capitalize;
  margin: 0 0 5px 0;
}
.our-team .social{
  padding: 0;
  margin: 0;
  list-style: none;
  transition: all 0.35s ease 0s;
}
.our-team .social li{
  display: inline-block;
  margin: 0 5px 0 0;
}
.our-team .social li a{
  display: block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 15px 0 15px 0;
  font-size: 20px;
  color: #fff;
  overflow: hidden;
  z-index: 1;
  position: relative;
  transition: all 0.35s ease 0s;
}
.our-team .social li a:before{
  content: "";
  width: 100%;
  height: 100%;
  background: #e06f06;
  position: absolute;
  top: 0;
  left: -100%;
  z-index: -1;
  transition: all 0.3s ease-in-out 0s;
}
.our-team .social li a:hover:before{ left: 0; }
@media only screen and (max-width: 990px){
  .our-team{ margin-bottom: 30px; }
}


/*---------------------------------  END TEAM -------------------------*/


/*---------------------------------  START CONTACT -------------------------*/
section#contact {
  background-color: #212529;
  background-image: url("../img/map-image.png");
  background-repeat: no-repeat;
  background-position: center;
}

section#contact .section-heading {
  color: #fff;
}

section#contact .form-group {
  margin-bottom: 25px;
}

section#contact .form-group input,
section#contact .form-group textarea {
  padding: 10px;
}

section#contact .form-group input.form-control {
  height: auto;
}

section#contact .form-group textarea.form-control {
  height: 200px;
}

section#contact .form-control:focus {
  border-color: #fed136;
  -webkit-box-shadow: none;
  box-shadow: none;
}

section#contact ::-webkit-input-placeholder {
  font-weight: 700;
  color: #ced4da;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

section#contact :-moz-placeholder {
  font-weight: 700;
  color: #ced4da;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

section#contact ::-moz-placeholder {
  font-weight: 700;
  color: #ced4da;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

section#contact :-ms-input-placeholder {
  font-weight: 700;
  color: #ced4da;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

/*---------------------------------  END CONTACT -------------------------*/


